<web-app>

    <servlet>
        <servlet-name>CarList</servlet-name>
        <servlet-class>ru.osetsky.servlets.CarList</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>CarAdd</servlet-name>
        <servlet-class>ru.osetsky.servlets.CarAdd</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CarList</servlet-name>
        <url-pattern>/carAll</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CarAdd</servlet-name>
        <url-pattern>/carAdd</url-pattern>
    </servlet-mapping>

</web-app>