<web-app>

    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>ru.osetsky.servlets.ItemAdd</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ItemList</servlet-name>
        <servlet-class>ru.osetsky.servlets.ItemList</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>CarAdd</servlet-name>
        <servlet-class>ru.osetsky.servlets.CarAdd</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>ru.osetsky.servlets.FileUploadServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/itemAdd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ItemList</servlet-name>
        <url-pattern>/itemAll</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CarAdd</servlet-name>
        <url-pattern>/carAdd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
</web-app>