<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/java_a_from_z</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1911</property>
        <property name="hibernate.connection.pool_size">3</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="hibernate.jdbc.use_streams_for_binary">false</property>
        <!--<property name="hbm2ddl.auto">create</property>-->
        <!--<property name="javax.persistence.schema-generation.database.action">drop-and-create</property>-->
        <mapping class="ru.osetsky.models.Car"/>
        <mapping class="ru.osetsky.models.User"/>
        <mapping class="ru.osetsky.models.Role"/>
    </session-factory>
</hibernate-configuration>