<Context>
<Resource name="jdbc/postgres" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
          url="jdbc:postgresql://localhost:5432/java_a_from_z"
          username="postgres" password="1234" maxActive="20" maxIdle="10"
          maxWait="-1"/>

</Context>